/* Centrer le conteneur horizontalement et verticalement */
.center-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

/* Style pour l'en-tête */
.about-header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

/* Style de l'image */
.user-link img {
    width: 150px; /* Taille ajustable */
    height: 150px; /* Taille ajustable */
    border-radius: 50%; /* Rendre l'image circulaire */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style pour le contenu */
.about-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

/* Section générale */
.about-section {
    background-color: #f9f9f9; /* Couleur de fond douce */
    padding: 60px 0;
}
