<form method="post" action="{{ path('app_lignede_commande_delete', {'id': lignede_commande.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lignede_commande.id) }}">
    <button class="btn">Delete</button>
</form>
